---

---

<section class="feed">
  <img class="work" src="/assets/work.webp" alt="Arbjede" />
  <img class="pink" src="/assets/pinktshirtpaagalender.webp" alt="Pink tshirt på gelænder" />
  <img class="juice" src="/assets/juicepaabord.webp" alt="Juice" />
  <img class="ryg" src="/assets/Outdoor_Logo_ryg.webp" alt="bareenxjoe bagfra" />
</section>

<style>
  .feed {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .feed img {
    width: 50%;
    height: auto;
    aspect-ratio: 3/3;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .work {
    object-position: 70% center;
  }
  .ryg {
    object-position: 34% center;
  }

  @media (min-width: 1024px) {
    .feed img {
      width: 25%; /* 4 kolonner på desktop */
    }
  }
  @media (min-width: 1200px) {
    .feed img {
      width: 25%; /* 4 kolonner på desktop */
    }
  }
</style>
