---
import Layout from "../layouts/Layout.astro";
---

<section id="info">
  <div class="center_info">
    <h1>mode møder velvære</h1>

    <p>Et møde mellem <b>bæredygtig mode og sund livsstil.</b> Bareen x Joe & The Juice skaber et koncept der inviterer dig til at udtrykke sig selv - både gennem stil og deres valg i hverdagen. Kampagnen “Bare en Juice” introducerer en street vibe, hvor det er essentielt at tage sig at både sin krop og sit udtryk.</p>

    <p>
      Vi forener Joe & The Juice´s energiske, sunde univers, med Bareens æstetiske og minimalistiske tilgang - og fortæller en historie, hvor det at være <b>stilfuld og sund smelter sammen</b> i én helhed.
    </p>

    <p>
      Dette collab handler ikke bare om en juice eller en t-shirt. Det handler om at skabe et rum, hvor mode møder livsstil. Gør noget godt for dig selv, køb nu <b>bare en juice.</b>
    </p>
  </div>
</section>

<style>
  section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .center_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .center_info h1,
  .center_info p {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 700px;
  }

  b {
    font-style: italic;
  }
</style>
