<section class="lotti">
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <dotlottie-player src="https://lottie.host/b6a93f08-cec7-4cf0-87bd-c259d01d5325/KUhXqFCxY2.lottie" background="transparent" speed="1" style="width: 100%;" loop autoplay></dotlottie-player>
  <script src="script.js"></script>
</section>
